<!DOCTYPE html>
<html>

<head>

    <title>Edit Application</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="form-container">

        <h1>Edit Job Application</h1>

        <form action="/edit/{{ application[0] }}" method="POST">

            <!-- COMPANY -->

            <label>Company Name:</label>

            <input type="text"
                   name="company"
                   value="{{ application[1] }}"
                   required>


            <!-- JOB ROLE -->

            <label>Job Role:</label>

            <input type="text"
                   name="role"
                   value="{{ application[2] }}"
                   required>


            <!-- LOCATION -->

            <label>Location:</label>

            <input type="text"
                   name="location"
                   value="{{ application[3] }}">


            <!-- STATUS -->

            <label>Status:</label>

            <select name="status" required>

                <option value="Applied"
                    {% if application[4] == "Applied" %}selected{% endif %}>
                    Applied
                </option>

                <option value="Shortlisted"
                    {% if application[4] == "Shortlisted" %}selected{% endif %}>
                    Shortlisted
                </option>

                <option value="Interview"
                    {% if application[4] == "Interview" %}selected{% endif %}>
                    Interview
                </option>

                <option value="Rejected"
                    {% if application[4] == "Rejected" %}selected{% endif %}>
                    Rejected
                </option>

                <option value="Selected"
                    {% if application[4] == "Selected" %}selected{% endif %}>
                    Selected
                </option>

            </select>


            <!-- APPLIED DATE -->

            <label>Applied Date:</label>

            <input type="date"
                   name="applied_date"
                   value="{{ application[5] }}"
                   required>


            <!-- UPDATE BUTTON -->

            <button type="submit">
                Update Application
            </button>

        </form>

    </div>


    <!-- NAVIGATION -->

    <div class="dashboard-buttons">

        <a href="/applications">
            Back to Applications
        </a>

        <a href="/dashboard">
            Dashboard
        </a>

        <a href="/">
            Home
        </a>

    </div>

</body>

</html>